certifi==2018.1.18
chardet==3.0.4
click==6.7
Flask==0.12.2
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gevent==1.2.2
greenlet==0.4.13
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.2
opencv-python==3.4.0.12
Pillow==5.1.0
PyMySQL==0.8.0
requests==2.18.4
SQLAlchemy==1.2.2
urllib3==1.22
Werkzeug==0.14.1
WTForms==2.1
